* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  width: 90%;
  margin: 0 auto;
  background: rgb(251, 254, 255);
}

.all__news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;

}

.news {
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  
}

.news__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 2rem;
}

.head__text {
  margin-top: 30px;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  
}

.news__author {
  margin-right: 10px;
  color: purple;
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}
.pagination{
  
  display: flex;
  justify-content: center;
}
.pagination *{
  padding: 10px;
  margin: 10px;
}
.pagination_button{
  outline: none;
  border: none;
}
.pagination_button.active{
  outline: none;
  background-color: brown;
  color: white;
}
